.wrapper {
  padding-bottom: var(--spaces-xxLarge);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wrapper p {
  letter-spacing: 0.03rem;
}

.lead {
  position: relative;
  border: 15px solid transparent;
  border-image: url("../../assets/svg/border-box.svg") 15 round;
  font-style: inherit;
  display: inline-block;
}

.breakoutLine {
  margin-bottom: var(--spaces-large);
}

.button {
  margin-top: var(--spaces-xxxLarge);
}

@media (min-width: 768px) {
  .button {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    padding-bottom: 6.25rem;
  }

  .content *:not(button) {
    max-width: 66.667%;
  }
}

/* .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 66.666%;
  margin: auto;
  text-align: center;
}

.lead {
  position: relative;
  border: 15px solid transparent;
  border-image: url("../../assets/svg/border-box.svg") 15 round;
  font-style: inherit;
  display: inline-block;
}

.breakoutLine {
  margin-bottom: 1.5rem;
}

.button {
  margin-top: 2rem;
} */