.wrapper {
  composes: section-container from '../../styles/composable.module.css';
  padding-top: var(--space-2xl);
  gap: var(--space-xl);
}

.imageWrapper {
  display: flex;
  box-shadow: var(--box-shadow);
  margin-top: var(--space-m);
}

.mainImage {
  height: auto;
  width: 100%;
}

.link {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  margin-top: var(--space-m);
  transition: 0.15s ease;
}

.link:hover {
  color: var(--palette-primary);
}

.screensGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-s);
}

@media (min-width: 768px) {
  .screensGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto 1fr;
  }

  .screensGrid figure:first-child {
    grid-area: 1 / 1 / 5 / 2;
  }

  .screensGrid > figure:nth-child(2) {
    grid-area: 2 / 2 / 3 / 3;
  }

  .screensGrid > figure:nth-child(3) {
    grid-area: 3 / 2 / 4 / 3;
  }
}