.animated-link {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  border-radius: 4px;
  vertical-align: baseline;
  padding: 0 1px;
}

.animated-link .highlight {
  position: absolute;
  inset: 0;
  z-index: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--palette-secondary);
  transform: translateY(22px);
  transition: transform 200ms ease-out;
}

.animated-link:hover .highlight {
  transform: translateY(0);
}

.animated-link .text {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: inherit;
}
