.wrapper {
  composes: flex-column-wrapper from global;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: clamp(20vh, 50vw, 400px);
}

.imageWrapper img {
  width: 100%;
}

.title {
  margin-top: var(--space-m)
}