.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textWrapper {

}

.left {
  padding-left: var(--padding-calc-value);
  border-radius: 0 var(--radii-large) var(radii-large);
}

.imageWrapper {
  width: calc(100% + var(--spaces-large));
  margin-left: calc(var(--spaces-large) * -1);
  margin-top: var(--spaces-xxLarge);
}

.img {
  aspect-ratio: 7/5;
  height: auto;
  width: 100%;
  object-fit: cover;
}

.left .img {
  border-radius: 0 var(--radii-large) var(--radii-large) 0;
}

.right {
  flex-direction: row-reverse;
  padding-right: var(--padding-calc-value);
}

.right .img {
  border-radius: 0 var(--radii-large) var(--radii-large) 0;
}

.right .textWrapper {
  padding-left: 60px;
}

/* .imageWrapper {
  max-width: 42%;
  flex: 0 0 42%;
}

.wrapper {
  display: flex;
  align-items: center;
}

.textWrapper {
  padding: 0 15px
}

.left {
  padding-left: var(--padding-calc-value);
  border-radius: 0 var(--radii-large) var(radii-large);
}

.img {
  aspect-ratio: 10/7;
  width: auto;
  object-fit: cover;
}

.left .img {
  border-radius: var(--radii-large) 0 0 var(--radii-large);
}

.right {
  flex-direction: row-reverse;
  padding-right: var(--padding-calc-value);
}

.right .img {
  border-radius: 0 var(--radii-large) var(--radii-large) 0;
}

.right .textWrapper {
  padding-left: 60px;
}

.imageWrapper {
  max-width: 42%;
  flex: 0 0 42%;
} */