.wrapper {
  margin-top: var(--spaces-small);
  color: var(--palette-dark-red);
}

.h4 {
  margin-bottom: 0;
}

.ul {
  margin-top: 0;
}

.li {
  color: var(--palette-purple);
  padding-top: 0.4rem;
}