.wrapper {
  border-radius: var(--radii-medium);
  border: 2px solid transparent;
  cursor: pointer;
  transition: all .15s ease-in-out
}

/* variants */
.primary {
  background-color: var(--palette-primary);
  color: var(--palette-white);
}

.primary:hover {
  background-color: var(--palette-primary-dark)
}

.secondary {
  background-color: var(--palette-light);
}

.secondary:hover {
  background: var(--palette-gray-medium);
  border-color: var(--palette-gray-medium);
}

.outline {
  background-color: var(--palette-white);
  border: 2px solid var(--palette-primary);
  color: var(--palette-primary);
}

.outline:hover {
  background-color: var(--palette-light)
}

/* sizes */
.regular {
  padding: 0.5rem 1.5rem;
  font-size: 0.9375rem;
}

.large {
  --large-font-size: 0.875rem;
  padding: 0.75rem 3rem;
  font-size: var(--large-font-size);
  line-height: 1.5;
}

/* fluid */
.fluid {
  width: 100%;
  min-width: 300px;
}

@media (min-width: 982px) {
  .large {
    --large-font-size: 1.125rem; 
  }
}