.wrapper {
  display: flex;
  gap: var(--space-s);
  color: var(--color);
  margin: 0;
  padding: 0;
}

.iconLink:hover {
  opacity: 0.8;
}

.tooltipContent {
  background-color: var(--palette-white);
  color: var(--palette-secondary);
  padding: var(--space-3xs);
  border-radius: var(--radii-medium);
  font-size: 0.75rem;
  letter-spacing: 0.2px;
}