.FAB {
  cursor: pointer;
  border-radius: var(--radii-full);
  background: var(--palette-white);
  margin: 0 8px;
  width: 48px;
  height: 48px;
}

.FAB > svg {
  transform: scale(2);
  margin: auto;
}

.disabled {
  opacity: 0.5;
}
