.wrapper {
  composes: flex-column-wrapper from global;
  gap: var(--space-s);
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: clamp(20vh, 50vw, 400px);
}

.imageWrapper img {
  width: 100%;
}

.title {
  margin-top: var(--space-m);
}

.viewProject {
  display: inline-block;
  margin-top: var(--space-s);
}

.viewProject:hover {
  text-decoration: underline;
}

@media (min-width: 708px) {
  .doubleColumn {
    grid-column: span 2;
    align-items: center;
    text-align: center;
  }
} 