.wrapper {
  composes: flex-column-wrapper from '../../styles/composable.module.css';
  align-items: center;
  gap: var(--space-s);
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: clamp(20vh, 50vw, 400px);
}

.doubleColumn .imageWrapper {
  position: normal;
  height: auto;
  display: flex;
}

.doubleColumn img {
  width: 100%;
  height: auto;
}

.imageWrapper img {
  width: 100%;
}

.title {
  margin-top: var(--space-m);
}

.viewProject {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  margin-top: var(--space-s);
  transition: 0.15s ease;
}

.viewProject:hover {
  text-decoration: underline;
  color: var(--palette-primary);
}

@media (min-width: 768px) {
  .doubleColumn {
    grid-column: span 2;
    align-items: center;
    text-align: center;
  }
} 