/* composable styles */
.flex-column-wrapper {
	display: flex;
	flex-direction: column;
}

.section-container {
	composes: flex-column-wrapper;
	padding: var(--space-3xl) var(--space-m-l);
	max-width: 1400px;
	margin: auto;
}