.color {
	color: var(--color);
}

.h1 {
	composes: color;
	font-size: var(--typography-hero-text-header);
	line-height: 1.1;
	font-weight: 700;
	letter-spacing: -0.2rem;
}

.h2, .h3, .h4, .h5, .h6, .span, .p {
  composes: color;
}

.p {
  composes: color;
}

.h2Rich {
  font-size: var(--typography-rich-header-text)
}

.acknowledgementBody {
  font-size: 0.9375rem;
  letter-spacing: 0
}