.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 66.666%;
  margin: auto;
  text-align: center;
}

.lead {
  position: relative;
  border: 15px solid transparent;
  border-image: url("../../assets/svg/border-box.svg") 15 round;
  font-style: inherit;
  display: inline-block;
}

.breakoutLine {
  margin-bottom: 1.5rem;
}

.button {
  margin-top: 2rem;
}