.section {
  padding-top: var(--space-4xl);
  padding-bottom: var(--space-4xl);
  background-color: var(--background-color);
}

.hero {
  padding-top: 0;
  padding-bottom: 7.5rem;
}

@media (min-width: 768px) {
  .hero {
    padding-top: 3rem;
  }
}

@media(min-width: 992px) {
  .section {
    padding-top: var(--space-5xl);
    padding-bottom: var(--space-5xl);
  }

  .hero {
    padding-top: 3rem;
    padding-bottom: 7.5rem;
  }
}