.wrapper {
  position: relative;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
}

.gridWrapper {
  display: grid;
  min-height: content;
}