.wrapper {
  display: flex;
}

.imageWrapper {
  max-width: 42%;
}

.playingPool {
  width: 100%;
  height: auto;
  border-radius: 0 1rem 1rem 0;
  aspect-ratio: 10 / 7;
  object-position: 0 45%;
}

.textWrapper {
  padding-left: 112px;
  padding-right: calc(((100% - 1110px)/2));
}