.arrowButton {
  display: none;
  position: absolute;
  top: 50%;
  border: 1px solid var(--palette-light);
  transform: translateY(-50%);
}

.btnRight {
  right: 0;
}

.btnLeft {
  left: 0;
}

@media (min-width: 1200px) {
  .arrowButton {
    display: grid;
  }
}

@media (min-width: 1400px) {
  .btnRight {
    right: 40px;
  }

  .btnLeft {
    left: 40px;
  }
}
