.screensGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-xl);
}

@media (min-width: 768px) {
  .screensGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto 1fr;
  }

  .screensGrid figure:first-child {
    grid-area: 1 / 1 / 5 / 2;
  }

  .screensGrid>figure:nth-child(2) {
    grid-area: 2 / 2 / 3 / 3;
  }

  .screensGrid>figure:nth-child(3) {
    grid-area: 3 / 2 / 4 / 3;
  }
}