:root {
  --palette-blue: #b4f0f0;
	--palette-indigo: #280f91;
	--palette-purple: #7d2ae8;
	--palette-pink: #ffa5f0;
	--palette-light-pink: #ffe6ff;
	--palette-red: #ff5055;
	--palette-dark-red: #6e0f2d;
	--palette-orange: #f15852;
	--palette-yellow: #ffd200;
	--palette-green: #28c878;
	--palette-teal: #20c997;
	--palette-cyan: #00c4cc;
	--palette-white: #fff;
	--palette-gray: #6c757d;
	--palette-gray-light: #f8f9f9;
	--palette-gray-dark: #293039;
	--palette-primary: #7d2ae8;
	--palette-secondary: #280f91;
	--palette-light: #e9ecef;
	--palette-dark: #0e1318;
	--palette-blendBlue: #5a32fa;
	--gradients-brandGradient: #00c4cc, #5a32fa, #7d2ae8;
	--shadows-small: 0.5px 1px 1px hsl(0deg, 0%, 50%);
	--shadows-medium: 1px 2px 2px hsl(0deg, 0%, 50% / 0.333),
		2px 4px 4px hsl(0deg, 0%, 50% / 0.333),
		3px 6px 6px hsl(0deg, 0%, 50% / 0.333);
	--radii-none: 0;
	--radii-medium: 6px;
	--radii-large: 1rem;
	--radii-full: 9999px;
	--typography-heading-font-family: ezramedium, sans-serif;
	--typography-body-font-family: sans-serif;
	/* small screens */
	/* this is not scalable (below), if we need to add another size, we have to go everywhere
	   where the sizes are used in the css and change them to their new set */
	--spaces-xxxxSmall: 0.25rem;
	--spaces-xxxSmall: 0.5rem;
	--spaces-xxSmall: 0.625rem;
	--spaces-xSmall: 0.9375rem;
	--spaces-small: 1rem;
	--spaces-medium: 1.25rem;
	--spaces-large: 1.5rem;
	--spaces-xLarge: 1.875rem;
	--spaces-xxLarge: 2rem;
	--spaces-xxxLarge: 3rem;
	--spaces-xxxxLarge: 4rem;
	--spaces-xxxxxLarge: 7rem;
	--spaces-xxxxxxLarge: 10rem;
	--typography-body: 1rem;
	--typography-hero-text-header: 2.5rem;
	--typography-body-lead: 1.25rem;
	--typography-rich-header-text: 1.75rem;
	--typography-section-program-heading: 2.5625rem;
	--typography-section-program-item-header: 1.25rem;
	--typography-greg-life: 3.5rem;
	--typography-blockquote-lead: 1.5rem;
	--typography-blockquote-footer: 1rem;
	--typography-cta-banner-header: 3.125rem;
	--typography-cta-banner-body: 1.0625rem;
	--typography-small: 80%;
	--padding-calc-value: calc(((100% - 690px)/2));
	--container-padding: 1.5rem;
}

/* xSmall - small screens */
@media (min-width: 576px) {
  :root {
		--container-width: 540px;
		--container-padding: 0.9375rem;
  }
}

/* small - medium screens */
@media (min-width: 768px) {
  :root {
		--container-width: 720px;
  }
}

/* medium - large screens */
@media (min-width: 992px) {
  :root {
		--typography-body: 1.25rem;
		--typography-body-lead: 1.125rem;
		--typography-hero-text-header: 4rem;
		--typography-rich-header-text: 4rem;
		--typography-section-program-heading: 2.5625rem;
		--typography-section-program-item-header: 1.75rem;
		--typography-greg-life: 6rem;
		--typography-blockquote-lead: 2.25rem;
		--typography-blockquote-footer: 1.5rem;
		--typography-cta-banner-header: 5.625rem;
		--typography-cta-banner-body: 1.5rem;
		--padding-calc-value: calc(((100% - 930px)/2));
		--container-width: 960px;
  }
}

/* large - xlarge screens */
@media (min-width: 1200px) {
  :root {
		--typography-body-lead: 1.5rem;
		--typography-hero-text-header: 6rem;
		--typography-section-program-heading: 5.625rem;
		--padding-calc-value: calc(((100% - 1110px)/2));
		--container-width: 1140px;
	}
}

@media (min-width: 1400px) {
  :root {
		--padding-calc-value: calc(((100% - 1290px)/2));
		--container-width: 1320px;
	}
}

@media (min-width: 1600px) {
  :root {
		--container-width: 1440px;
	}
}