.header {
  padding-left: var(--space-l);
}

.projectWrapper {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

@media (min-width: 992px) {
  .header {
    padding-left: var(--padding-calc-value);
  }
}
