.header {
  display: flex;
  align-items: center;
  gap: calc(var(--spaces-small) * 2);
  padding: var(--spaces-medium) var(--spaces-xLarge);
}

.nav {
  display: flex;
  gap: var(--spaces-small);
}

.navLink {
  font-size: 0.9375rem;
  color: var(--palette-gray-dark);
  letter-spacing: .005rem;
}

.navLink:hover {
  color: var(--palette-purple);
}