.header {
  composes: max-width-container from "../../styles/composable.module.css";
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: var(--space-s);
  width: 100%;
  z-index: 1;
  background-color: white;
  padding: var(--space-4xs) var(--space-l);
  border-radius: var(--radii-xlarge);
  filter: drop-shadow(2px 4px 10px rgba(27, 84, 82, 0.1))
    drop-shadow(0px 2px 4px rgba(27, 84, 82, 0.1));
}

.canva-header {
  composes: header;
  padding: var(--space-4xs) var(--space-l);
  max-width: 100%;
  background-color: var(--palette-white);
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  background-color: transparent;
  transition:
    max-height 0.5s ease-out,
    background-color 1s ease-in;
}

.menu {
  padding-left: var(--space-l);
  padding-top: 90px;
  margin: 0;
}

.menuListItem {
  list-style-type: none;
  padding: var(--space-3xs) 0;
}

.navLink {
  font-family: var(--font-raleway);
  font-size: var(--step-3);
  font-weight: 400;
  color: var(--palette-gray-dark);
}

.navLink:hover {
  color: var(--palette-primary);
}

.canva-navLink {
  composes: navLink;
  font-size: 1.5rem;
  letter-spacing: 0.005rem;
}

.canva-navLink:hover {
  color: var(--palette-primary);
}

.sideMenu {
  display: none;
}

.hambContainer {
  position: relative;
  z-index: 1;
  height: 50px;
  cursor: pointer;
}

.hamb {
  position: relative;
  top: 50%;
  float: right;
  cursor: pointer;
}

.hambLine {
  position: relative;
  background: var(--palette-dark);
  display: block;
  height: 2px;
  width: 22px;
}

.hambLine::before,
.hambLine::after {
  position: absolute;
  background: var(--palette-dark);
  content: "";
  display: block;
  height: 100%;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hambLine::before {
  top: 6px;
}

.hambLine::after {
  top: -6px;
}

.sideMenu:checked ~ .nav {
  max-height: 100%;
  background-color: var(--palette-white);
  transition:
    max-height 0.5s ease-out,
    background-color 0.1s ease-out;
}

.sideMenu:checked ~ .hambContainer .hamb .hambLine {
  background: transparent;
}

.sideMenu:checked ~ .hambContainer .hamb .hambLine::before {
  transform: rotate(-45deg);
  top: 0;
}

.sideMenu:checked ~ .hambContainer .hamb .hambLine::after {
  transform: rotate(45deg);
  top: 0;
}

.button {
  margin: 0 var(--space-l) 90px;
}

@media (min-width: 992px) {
  .header {
    justify-content: revert;
    padding: var(--space-s) var(--space-m);
  }

  .canva-header {
    padding: var(--space-m) var(--space-xs);
  }

  .nav {
    flex-direction: revert;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    max-height: none;
    padding: 0;
    gap: var(--space-m);
  }

  .canva-nav {
    composes: nav;
    justify-content: space-between;
    padding-right: var(--space-xs);
  }

  .menu {
    display: flex;
    gap: var(--space-s);
    padding-top: 0;
    padding-left: var(--space-xl);
  }

  .menuListItem {
    list-style-type: none;
    padding: 0;
  }

  .navLink {
    font-size: 0.875rem;
    letter-spacing: 0.4px;
  }

  .hambContainer {
    display: none;
  }

  .button {
    margin: 0;
  }
}
