.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--palette-white);
  padding: var(--spaces-xxxxSmall) var(--spaces-large);  
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  background-color: var(--palette-white);
  transition: max-height .5s ease-out;
  padding-right: var(--spaces-xSmall)
}

.nav ul {
  padding-top: 90px;
  padding-left: var(--spaces-large);
}

.nav li {
  list-style-type: none;
  padding: 0.5rem 0;
}

.navLink {
  font-size: 1.5rem;
  font-family: var(--typography-heading-font-family);
  color: var(--palette-gray-dark);
  letter-spacing: .005rem;
}

.navLink:hover {
  color: var(--palette-purple);
}

.sideMenu {
  display: none;
}

.hambContainer {
  position: relative;
  z-index: 1;
  height: 50px;
  cursor: pointer;
}

.hamb{
  position: relative;
  top: 50%;
  float: right;
  cursor: pointer;
}

.hambLine {
  position: relative;
  background: var(--palette-dark);
  display: block;
  height: 2px;
  width: 22px;
}

.hambLine::before,
.hambLine::after{
    position: absolute;
    background: var(--palette-dark);
    content: '';
    display: block;
    height: 100%;
    transition: all .2s ease-out;
    width: 100%;
}

.hambLine::before{
    top: 6px;
}

.hambLine::after{
    top: -6px;
}

.sideMenu:checked ~ .nav {
  max-height: 100%;
}

.sideMenu:checked ~ .hambContainer .hamb .hambLine {
  background: transparent;
}

.sideMenu:checked ~ .hambContainer .hamb .hambLine::before {
  transform: rotate(-45deg);
  top: 0;
}

.sideMenu:checked ~ .hambContainer .hamb .hambLine::after {
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 576px) {
  .nav ul {
    padding-left: var(--spaces-xSmall);
  }
}

@media (min-width: 992px) {
  .header {
    justify-content: revert;
    padding: var(--spaces-medium) var(--spaces-xSmall)
  }

  .nav {
    position: relative;
    max-height: none;
  }

  .nav ul {
    display: flex;
    gap: var(--spaces-small);
    padding-top: 0;
    padding-left: var(--spaces-xLarge)
  }

  .nav li {
    list-style-type: none;
    padding: 0;
  }

  .navLink {
    font-size: 0.875rem;
    font-family: var(--typography-body-font-family);
    letter-spacing: 0.4px;
  }

  .hambContainer {
    display: none;
  }
}