.wrapper {
  composes: flex-column-wrapper from global;
  gap: var(--space-s);
}

.iconsWrapper {
  display: flex;
  justify-content: space-between;
  font-size: var(--step-4);
  color: var(--palette-secondary);
  margin: var(--space-l) 0
}