.wrapper {
  composes: section-container from "../../../styles/composable.module.css";
  gap: var(--space-s);
}

.iconsWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: var(--palette-secondary);
  gap: var(--space-m);

  > span {
    font-size: var(--step-5);
  }
}
