.wrapper {
  display: grid;
  grid-template-columns: 58% 65px 1fr 20px 1fr;
  background-color: var(--palette-yellow);
  padding: 10rem 2.5rem 4.375rem 0;
}

.wrapper img {
  object-fit: cover;
  height: auto;
}

.mainImg {
  aspect-ratio: 9 / 5;
  border-radius: 0 1rem 1rem 0;
}

.secondImg {
  grid-column: 3;
  aspect-ratio: 2 / 2.5;
}

.thirdImg {
  aspect-ratio: 1;
  grid-column: 5;
}

.text {
  padding: 2rem 0 0 40px;
  font-size: var(--typography-greg-life);
  font-family: var(--typography-heading-font-family);
  font-weight: 700;
  letter-spacing: -0.2rem;
}