.wrapper {
  padding-bottom: var(--space-2xl);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: var(--typography-cta-banner-body);
  letter-spacing: -0.01rem;
}

.wrapper p {
  letter-spacing: 0.03rem;
}

.leadWrapper {
  display: flex;
  align-items: center;
}

.lead {
  position: relative;
  border: 15px solid transparent;
  border-image: none 15 round;
  font-style: inherit;
  display: inline-block;
  line-height: 1.1;
}

.ctaLead {
  font-size: var(--typography-cta-banner-header);
}

.leadWithBorder {
  border-image: url("../../../assets/svg/border-box.svg") 15 round;
}

.textCursor {
  margin-left: 6px;
  display: inline-block;
  width: 4px;
  height: 90px;
  background-color: var(--palette-white);
}

.breakoutLine {
  margin-bottom: var(--space-l);
}

.button {
  margin-top: var(--space-3xl);
}

@media (min-width: 768px) {
  .button {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    padding-bottom: 6.25rem;
  }

  .content > p {
    max-width: 66.667%;
  }
}
