.wrapper {
  margin-top: 50px;
}

.carouselContainer {
  overflow: hidden;
}

.innerContainer {
  margin-right: 70px;
}

.carouselSlider {
  display: flex;
  align-items: stretch;
  /* gap: 10px; */
  transform: var(--carousel-transform);
  width: 600%;

  transition: 0.3s ease-in-out;
}

.card {
  width: 16.6667%;
  border-radius: var(--radii-large);
  background-color: var(--palette-light-pink);
  padding: 1rem;
  margin-right: 10px;
}

.card:hover {
  background-color: var(--palette-pink)
}

.valueBodyText {
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.buttonWrapper {
  display: flex; 
  justify-content: center;
  margin-top: var(--spaces-large);
  padding-right: var(--spaces-large);
}

.button {
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: var(--radii-full);
  background: var(--palette-white);
  margin: 0 8px; 
  width: 48px;
  height: 48px;
  border: none;
}

.button:disabled {
  opacity: 0.5;
}

.button > svg {
  transform: scale(2)
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 50%;
  }

  .card {
    padding: 30px 30px 3rem;
    margin-right: var(--spaces-small)
  }

  .innerContainer {
    margin-right: 110px;
  }

  .buttonWrapper {
    margin-top: 2rem;
  }
}
