.wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--space-m) var(--space-m-l);
  max-width: 1400px;
  gap: var(--space-s);
  margin: auto;
}

.tagLine {
  display: inline-block;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: clamp(20vh, 50vw, 500px);
}

.imageWrapper img {
  width: 100%;
  object-position: 100% 0%;
}