.wrapper {
  composes: section-container from '../../../styles/composable.module.css';
  padding-top: var(--space-2xl);
  gap: var(--space-l);
}

.tagLine {
  display: inline-block;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: clamp(20vh, 50vw, 500px);
}

.imageWrapper img {
  width: 100%;
  object-position: 100% 0%;
}

.bodyCopy > p:not(:first-child) {
  margin-top: var(--space-2xs);
}