.wrapper {
  composes: flex-column-wrapper from global;
}

.tagLine {
  display: inline-block;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: clamp(20vh, 50vw, 500px);
}

.imageWrapper img {
  width: 100%;
  object-position: 100% 0%;
}