.screensGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-xl);
}

@media (min-width: 768px) {
  .screensGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'list .''list edit''profile edit''profile .';
  }
}