.doubleColumn {
  composes: doubleColumn from global;
  margin-top: var(--space-l);
}

.carousel {
  margin-top: var(--space-l);
}

.contributionHeader {
  margin-top: var(--space-l);
}

.tldr {
  margin-top: var(--space-l);
}