.wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.imageWrapper {
  position: relative;
  padding: 0 15px;
}

.type {
	padding-top: 100px;
	max-width: 50%;
}

.type h1 {
	position: relative;
}

.cuddleCats {
	position: absolute;
  left: -190px;
  object-position: 50% 25%;
}

.canvaRooftop {
  margin-top: 100px;
}

.doodleContainer {
	width: 194px;
	height: 123px;
	position: absolute;
	top: -100px;
	left: -36px;
}

.doodle {
	max-width: 100%;
	max-height: 100%;
}

@media (min-width: 1200px) {
	.type {
		padding-top: 200px;
	}
}