.wrapper {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.span {
  font-size: 2rem;
  font-family: var(--font-ezra);
  letter-spacing: 0;
}

.form {
  display: flex;
  gap: 20px;
}