.arrowButton {
  position: absolute;
  top: calc(50% - 24px);
  border: 1px solid var(--palette-light);
  transform: translateY(-50%)
}

.btnRight {
  right: 0;
}

.btnLeft {
  left: 0;
}

@media (max-width: 1199px) {
  .arrowButton {
    display: none;
  }
}

@media (min-width: 1400px) {
  .btnRight {
    right: 40px;
  }
  
  .btnLeft {
    left: 40px;
  }
}